@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1400px !important;
  }
}
header {
  position: relative;
}

nav#site-navigation {
  background-color: #3c5071;
  border-color: #2f415e;
  border-radius: 2px;
  padding-left: 0;
  padding-right: 0;
  letter-spacing: 0.53px;

  .navbar-brand {
    color: #fff;
    font-weight: 800;
    margin-left: 1rem;
  }
  .navbar-nav > li {
    > a {
      color: #fff;
    }
    &.active,
    &.show {
      > a {
        color: #fff;
      }
    }
  }
  ul li.menu-item-has-children > .dropdown-menu {
    left: auto;
    right: 0;
    li[class*="col-"] {
      float: left;
    }
  }
  .navbar-nav > li.megamenu {
    position: static;
    > .dropdown-menu {
      min-width: 280px;
      > .megamenu-column {
        width: 280px;
        display: block;
        float: left;
        &:not(:first-child):after {
          position: absolute;
          content: "";
          display: block;
          width: 1px;
          background-color: #eeeeee;
          height: 100%;
          top: 0;
        }
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
        }
        a {
          font-size: 13px;
          padding: 4px 20px;
          display: block;
          color: #333;
          &:hover,
          &:focus {
            background-color: #f5f5f5;
            color: #333;
          }
        }
        span.sub {
          font-size: 11px;
          padding: 2px 20px;
          margin-top: -4px;
          display: block;
          line-height: 1.6em;
        }
        .featured-image {
          a {
            font-size: 14px;
            color: #2e7dd9;
            font-weight: 500;
          }
          img {
            padding: 5px 0;
            width: 100%;
            height: auto;
          }
        }
        .description {
          a {
            display: none;
          }
        }
        .dropdown-divider {
          margin: 16px 20px 10px;
          max-width: 60px;
        }
      }
    }
  }
}

.menu-mega-menu-container {
  width: 100%;
  #primary-menu {
    float: right;
  }
}
